streamlit==1.33.0
streamlit_js_eval==0.1.7
streamlit_ext
transformers
accelerate
diffusers
torch
Flask
requests
nltk
sentence-transformers
scikit-learn
deep-translator
numpy
Pillow
boto3
spacy=3.4.4
spacy-experimental==0.6.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
https://github.com/explosion/spacy-experimental/releases/download/v0.6.1/en_coreference_web_trf-3.4.0a2-py3-none-any.whl
pdfkit
aiohttp
gradio_client