streamlit==1.33.0
streamlit_js_eval==0.1.7
streamlit_ext
transformers
accelerate
diffusers
torch
Flask
requests
nltk
sentence-transformers
scikit-learn
deep-translator
numpy
Pillow
boto3
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
pdfkit
aiohttp
gradio_client